<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy = "skip">
  <test thread-count="5" name="Test">
    <classes>
      <class name="week6.day1.LeadTest"/>
      <class name="week6.day1.DuplicateLead"/>
      <class name="week6.day1.CreatLead3"/>
      <class name="week6.day1.EditLead3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
